.readerBox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
}

.readerBox:hover{
    border: 1px solid gray;
}

.readerBox_info{
    display: flex;
    align-items: center;
}

.readerBox_info > h5{
    color: rgb(129,129,129);
    font-weight: 500;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.readerBox_reader{
    display: flex;
    margin-top: 8px;
}

.readerBox_reader > p{
    color: gray;
    font-weight: bold;
    font-size: large;
}